* {
    /*border: 1px solid red;*/
}
.navbar-inverse {
    background-color: #0F491F;
    border-color: #080808;
    border-radius: 0px;
    margin-bottom: 0px;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.nav>li {
    padding-left: 70px;
    padding-right: 70px;
}

h2, 
h5 {
    text-shadow: 3px 3px rgba(1, 1, 1, .6);
    font-family: 'Lobster', cursive;
}

.review {
    text-align: center;
    height: 200px;
    font-family: 'Oswald', sans-serif;
}

.borderline {
    height: 10px;
    background-color: #A70000;
}

.menuline {
    height: 10px;
    background-color: #0F491F;
}

.menus {
    text-align: center;
    height: 200px;
    font-family: 'Lobster', cursive;
}

.quick {
    float: right;
    font-family: 'Lobster', cursive;
    font-size: 30px;
    margin-top: 30px;
}
